<div class="landing-page">
  <center><h1>ThoughtBox</h1></center>

  <center><article>

  <div class="login-text">
    <%= link_to "Login", login_path%>
  </div>
   or
   <div class="sign-text">
    <%= link_to "Sign Up", signup_path%>
  </div>
  <article></center>
</div>
