<header><h1>All the Links</h1></header>
<div id="index-page">
  <div id='link-form'>
    <input id="submit-button" type="submit" value="Submit">
  </div>
  <div id="link-table">
    <form id="edit-input"></form>
  </div>
</div>
