<div class="whole-page">
  <center><div id="index-page">
<center><header><h1>All the Links</h1></header></center>
  <center><div id="searchbox">
  </div></center>
  <center><div id="sort-options"></center>
    Sort:<br>
    <br>
    <button id="alpha"> Alphabetically</button>
    <button id="by-read"> All Read</button>
    <button id="by-unread"> All Unread</button>
  </div>
  <center><div id='link-form'>
    <input id="submit-button" type="submit" value="Submit">
  </div></center>
  <div id="link-table">
    <form id="edit-input"></form>
  </div>
</div></center>
</div>
