/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.unread-box {
  border-style: dashed;
  color: red;
}

.read-box {
  border-style: dotted;
  color: grey;
}

.read-check {
  color: green;
}

#link-subset {
  opacity: 70%;
  color: black;
  background-color: white !important;
  width: 550px !important;
  border-style: solid;
  border-width: thick;
}

#link-form {
  padding-top: 0px;
  margin: 20px;
  font-family: monospace;
  width: 450px;
}

#index-page{
  width: 450px;
}

.whole-page{
  background: url('crowd.jpeg') no-repeat center;
  color: white;
}

header {
  font-family: arial;
  margin: 0px;
  padding: 0px;
}

button {
  border-radius: 25px;
  background-color: grey;
  size: 400%;
  margin-bottom: 20px;
  margin-left: 40px;
  color: white;
  width: 190px;
}

body {
  font-family: monospace;
  font-size: 130%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: monospace;
}

article {
  background-color: yellow;
  font-family: arial;
  font-size: 200%;
  padding-top: 120px;
}

.login-text {
  background-color: red;
  opacity: 0.8;
  background-color: #dcdcdc;
  font-family: monospace;
  width: 50%;
  font-size: 120%;
  padding: 0px 0px 0px 0px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
}

.sign-text {
  background-color: purple;
  opacity: 0.8;
  background-color: #dcdcdc;
  font-family: monospace;
  width: 50%;
  font-size: 120%;
  padding: 0px 0px 0px 0px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  padding-left: 20px;
}

.invisible {
  display: none;
}

#title-box {
  padding-left: 36px;
}

#unread-check {
  padding-left: 36px;
}

#read-check {
  padding-left: 36px;
}

.unread-style {
  color: pink;
  background-color: yellow;
}
