/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.unread-box {
  border-style: dashed;
  color: red;
}

.read-box {
  border-style: dotted;
  color: grey;
}

.read-check {
  color: green;
}

#link-subset {
  border-style: dotted;
}

#link-form {
  padding-top: 30px;
  margin: 20px;
  font-family: arial;

}

#index-page{
  background-color:#21bedd;
}

header {
  font-family: arial;
  margin: 0px;
  padding: 0px;
}

button {
  border-radius: 25px;
  background-color: green;
  size: 200%;
  margin-bottom: 20px;
  margin-left: 40px;
}

h1 {
  font-family: arial;
}

article {
  font-family: arial;
  font-size: 200%;
  padding-top: 120px;
}

.login-text {
  opacity: 0.8;
  background-color: #dcdcdc;
  font-family: monospace;
  width: 50%;
  font-size: 120%;
  padding: 0px 0px 0px 0px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
}

.sign-text {
  opacity: 0.8;
  background-color: #dcdcdc;
  font-family: monospace;
  width: 50%;
  font-size: 120%;
  padding: 0px 0px 0px 0px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  padding-left: 20px;
}

.landing-page {
}

.login-page {

}
